<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{{title}}</title>
    <style>
      body {
        font-family: "Helvetica Neue", "Helvetica";
        line-height: 1.5;
        font-size: 11px;
        margin: 0;
        padding: 0;
      }

      a {
        text-decoration: none;
      }

      #content {
        margin: 10px;
      }

      .hidden {
        display: none;
      }

      .row {
        margin: 5px 0px;
      }

      .center {
        text-align: center;
      }

      label {
        font-weight: bold;
      }

      #addhook label {
        min-width: 120px;
        display: inline-block;
        font-size: 14pt;
      }

      #addhook input, #addhook select {
        width: 100%;
        font-size: 14pt;
        margin: 10px 0px;
        padding: 10px;
      }

      #addhook .row {
        margin: 25px 0px;
      }

      #addhook input[type="button"] {
        width: 49%;
      }

      .success {
        color: green;
        font-weight: bold;
      }

      .error {
        color: red;
        font-weight: bold;
      }

      #followBtn {
        margin: 20px auto;
        text-align: center;
      }

      .homepage {
        max-width: 900px;
        margin: 10px auto;
        padding: 0px 10px;
        font-size: 14px;
      }

      h1 {
        font-weight: normal;
      }

      h2 {
        font-weight: normal;
      }
    </style>

    <meta property="og:site_name" content="ReplayLastGoal.com">
    <meta property="og:title" content="{{title}}" />
    <meta property="og:type" content="video.other" />
    <meta property="og:description" content="{{description}}" />
    <meta property="og:image" content="{{thumbnail}}" />
    <meta property="og:video:url" content="{{video}}" />
    <meta property="og:video:type" content="video/mp4" />
    <meta property="og:video:width" content="320" />
    <meta property="fb:admins" content="514641105" />
    <meta property="fb:app_id" content="707155276017425" />

    <meta name="twitter:site" content="@ReplayLastGoal">
    <meta name="twitter:title" content="{{title}}" />
    <meta name="twitter:card" content="photo">
    <meta name="twitter:description" content="{{description}}" />
    <meta name="twitter:image" content="{{thumbnail}}" />
    <meta name="twitter:width" content="704" />
    <meta name="twitter:height" content="396" />

  </head>
  <body>

    <div class="homepage">
      {{{body}}}
    </div>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-45923462-4', 'replaylastgoal.com');
      ga('require', 'displayfeatures');
      ga('require', 'linkid', 'linkid.js');
      ga('send', 'pageview');
    </script>

  </body>
</html>
